In [5]:
import pandas as pd

In [6]:
# import Artist.csv into a pandas dataframe
df = pd.read_csv("Artists.csv", encoding = "utf-8-sig").dropna(how = "all")
df.head()

,Artist,Current_Location,Spotify_Monthly_Listeners,Gender
0,The Weeknd,"Toronto, Ontario, Canada",104257338,M
1,K. Forest,"Toronto, Ontario, Canada",413753,M
2,Future,"Atlanta, Georgia, United States",45904432,M
3,KayCyy,"Los Angeles, California, United States",509440,M
4,PLAZA,"Montreal, Québec, Canada",941968,M

In [7]:
# preview data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Artist                     44 non-null     object
 1   Current_Location           44 non-null     object
 2   Spotify_Monthly_Listeners  44 non-null     int64
 3   Gender                     44 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.5+ KB

In [8]:
# trim/format cells
df["Artist"] = df["Artist"].str.strip()
df["Current_Location"] = df["Current_Location"].str.strip()
df["Gender"] = df["Gender"].str.strip()

In [9]:
# split location into city, state/province, and country
df[["Location_City", "Location_State/Province", "Location_Country"]] = df["Current_Location"].str.split(",", expand = True, n = 2)
df.head()

,Artist,Current_Location,Spotify_Monthly_Listeners,Gender,Location_City,Location_State/Province,Location_Country
0,The Weeknd,"Toronto, Ontario, Canada",104257338,M,Toronto,Ontario,Canada
1,K. Forest,"Toronto, Ontario, Canada",413753,M,Toronto,Ontario,Canada
2,Future,"Atlanta, Georgia, United States",45904432,M,Atlanta,Georgia,United States
3,KayCyy,"Los Angeles, California, United States",509440,M,Los Angeles,California,United States
4,PLAZA,"Montreal, Québec, Canada",941968,M,Montreal,Québec,Canada

In [10]:
# add index/Primary Key column
df["Artist_PK"] = df.index
df["Artist_PK"] = df["Artist_PK"] + 1

In [11]:
# export to csv
df.to_csv("Artists_PD_CLEANED", encoding = 'utf-8-sig', index = False)